body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 30px;
}

h2 {
    color: #333;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}